data/raw/*.csv
data/synthetic/*.csv
data/processed/labeling/*.csv
data/*.csv
results
src/models/result.py
*.xlsx
*.csv
*.pyc
__pycache__/
data/varialbe
.env
one.ipynb
two.ipynb
plus.ipynb
gpt.py
logistic_model_results
final_model_results
tree_model_results